.card__wrapper {
  margin-bottom: 40px;
}

.card {
  background-color: rgb(34, 34, 63);
  max-height: fit-content;
  max-width: 300px;
  margin: 20px auto;
  position: relative;
    opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transform: translate(-2%, -2%);
    box-shadow: 2px 2px 10px 2px white;
  }
}

.card img {
  max-width: 100px;
  margin: 10px;
}

.card-text {
  margin-bottom: 50px;
}

.btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color:rgb(34, 34, 63)
}

.computer, .player {
  max-height: 200px;
}

.btn-play {
  right: 50%;
  bottom: 10%;
  transform: translate(50%);
  animation-duration: 0.85s;
  animation-name: blinking2;
  animation-iteration-count: infinite;
  &:hover {
    animation: none;
  }
}

@keyframes blinking2 {
  from {
    box-shadow: 0px 0px 20px 5px white;
  }
}